@charset "UTF-8";
.task-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 30px;
}

.task-header-left {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.task-header-right {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.task-title {
    margin: 0;
}

.run-btn {
    color: tomato;
}

#timer {
    font-size: 100px;
}

#start,
#stop,
#reset,
#done {
    cursor: pointer;
}

.hide {
    display: none;
}

.opacity {
    opacity: 0;
}

.opacity:hover {
    cursor: default;
}

.status {
    padding-top: 9px;
}

.btns-box {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.status-box {
    display: flex;
    align-items: center;
}